@import "../scss/index.scss";

@mixin align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@mixin hover {
    background-color: $primary-color-hover;
    color:$font-dark;
    cursor:pointer;
    //box-shadow: 3px 0px 10px $primary-color-hover;
    border-color: $font-dark;
}

.register-form {
    @include align;
    width: 500px;
    border-radius: 10px;
    background-color: $background-primary;
    padding: 50px 70px;
    

    &-title {
        color: $font-light;
        text-align: center;
        font-size: 35px;
        padding-bottom: 20px;
    }
    .register-form-info input{

        @include align;
        padding:10px;
        width:80%;
        background-color: $color-essential;
        color:$font-dark;
        font-weight: bold;
        border-radius:5px;
        border-color: $font-dark;
        
        &:hover{
            @include hover;
        }
    }

    .register-form-info button{
        margin-top: 10px;
        width: 50%;
        height: 60px;
        border-radius: 30px;
        background-color:$primary-color;
        border-color: $font-dark;
        letter-spacing: 3px;

        &:hover{
            @include hover;
        }
    }
}