$primary-color: rgb(175, 103, 3);
$primary-color-hover: rgb(255, 153, 0);
$color-essential:rgb(242, 210, 163);

$font-light: rgb(241, 234, 221);
$font-grey: rgb(186, 180, 170);
$font-dark: rgb(24, 24, 23);

$border-primary: rgb(19, 18, 16);


$background-primary: rgb(42, 42, 40);
$background-secondary: rgb(32, 32, 31);
$background-dark: rgb(3, 3, 3);
$backgraund-light: rgb(241, 234, 221);

$danger: rgb(239, 116, 109);

$box-shadow: 10px 5px 5px rgb(174, 106, 4);
