<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="./PasswordForm.css">
    <title>Password Form</title>
</head>
<body>
    <article class="password-form">
        <section class="password-form-title">
            <h1>Aquí puedes actualizar tu contraseña</h1>
            <form class="password-form-user">
                <input type="text" placeholder="Contraseña del Usuario">
                <p>Escribe una nueva contraseña y confirmala</p>
                <input type="password" placeholder="Nueva contraseña">
                <input type="password" placeholder="Nueva contraseña">
                <button>Actualizar</button>
            </form>
            <section class="password-form-options">
                <a href="../../layouts/LoggedLayout.html"><p>Volver</p></a>
            </section>
        </section>        
    </article>
</body>
</html>