<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="./AddSongForm.css">
    <title>Add Song</title>
</head>
<body>
    <article class="addSong-form">
        <section class="addSong-form-title">
            <h1>Aquí puedes agregar una canción</h1>
            <form class="addSong-form-user">
                <input type="text" placeholder="Nombre de la canción">
                <button>Agregar</button>
            </form>
            <section class="addSong-form-options">
                <a href="../../layouts/LoggedLayout.html"><p>Volver</p></a>
            </section>
        </section>        
    </article>
    
</body>
</html>