<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="./ProfileForm.css">
    <title>Profile Form</title>
</head>
<body>
    <article class="profile-form">
        <section class="profile-form-title">
            <h1>Aquí puedes actualizar tu nombre de usuario</h1>
            <form class="profile-form-user">
                <input type="text" placeholder="Nombre del Usuario">
                <button>Actualizar</button>
            </form>
            <section class="profile-form-options">
                <a href="../../layouts/LoggedLayout.html"><p>Volver</p></a>
            </section>
        </section>        
    </article>
</body>
</html>