<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="./AddSingerForm.css">
    <title>Singer Form</title>
</head>
<body>
    <article class="addSinger-form">
        <section class="addSinger-form-title">
            <h1>Aquí puedes agregar un artista</h1>
            <form class="addSinger-form-user">
                <input type="text" placeholder="Nombre de artista ">
                <button>Agregar</button>
            </form>
            <section class="addSinger-form-options">
                <a href="../../layouts/LoggedLayout.html"><p>Volver</p></a>
            </section>
        </section>        
    </article>
</body>
</html>