<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="./LoginForm.css">
    <title>Login</title>
</head>
<body>
    <article class="login-form">
        <section class="login-form-title">
            <h1>Música para todos</h1>
            <form class="login-form-user">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Password">
                <a href="../../layouts/LoggedLayout.html">Inicia Sesión</a>
            </form>
            <section class="login-form-options">
                <a href="../../layouts/LoggedLayout.html"><p>Volver</p></a>
                <p>¿No tienes cuenta?<span>Registrarse</span></p>
            </section>
        </section>
        
    </article>
    
</body>
</html>